apiVersion: apps/v1
kind: Deployment
metadata:
  name: encontros-tech
  labels:
    app: encontros-tech
spec:
  replicas: 3
  selector:
    matchLabels:
      app: encontros-tech
  template:
    metadata:
      labels:
        app: encontros-tech
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: encontros-tech
        image: car21/encontros-tech
        ports:
        - containerPort: 8000
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: database-secret
              key: DATABASE_URL
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: encontros-tech
  labels:
    app: encontros-tech
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 8000
    protocol: TCP
  selector:
    app: encontros-tech

---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: encontros-tech
  labels:
    release: k8sgpt-monitoring
spec:
  selector:
    matchLabels:
      app: encontros-tech
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scheme: http